


<!-- <div *ngFor="let item of data">
<mat-card class="example-card" >
  <mat-card-header>
    <mat-card-title>
      <p style="color :brown"> {{item.description}}</p></mat-card-title>
    <mat-card-subtitle>{{item.reference}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> {{item.zekr}}</p>
   
  </mat-card-content>

</mat-card> -->
<!-- </div> -->

<h1>اذكار يومية </h1>

<div class="row ml-5"  >
<div class="card col-3  mx-5 my-3" *ngFor="let item of data">
  <div class="card-body">
    <h5 class="card-title">{{item.zekr}}</h5>
    <h6 class="card-subtitle mb-2 text-muted" >

     </h6>
     <p> {{item.reference}}</p>
    <p class="card-text" >{{item.description}}</p>
    
   


      <!-- Button trigger modal -->


<!-- Modal -->




</div>

</div>
<div>